* {
  margin: 0;
  margin-bottom: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #babfd1;
}

.header {
  background-color: #ffadc2;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-text {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
}

.nav-logo-text,
.link {
  color: #607196;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  line-height: 3em;
  width: 30%;
}

.nav-item {
  display: flex;
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: 1.1em;
}

.link:hover {
  color: #e8e9ed;
}

.label-toggle {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.popup-toggle {
  appearance: none;
}

.popup {
  position: absolute;
  right: 6em;
  top: 4em;
  width: 19em;
  height: 34em;
  background-color: #FFFFFF;
  border: 1px solid #ffadc2;
  box-shadow: 0 0 10px #ffadc2;
  border-radius: 10px;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.popup-toggle:checked + .popup {
  display: block;
}

.popup-content-main {
  display: grid;
  padding: 0 1.2em;
  padding-top: 1.5em;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.popup-content-additional {
  padding: 0em 1.2em;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  display: none;
  position: relative;
  bottom: 10%;
}

.popup-more:checked ~ .popup-content-additional {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 2fr);
  justify-items: center;
  align-items: center;
}

.popup-more ~ .check-additional::before {
  content: 'More...';
}

.popup-more:checked ~ .check-additional::before {
  content: 'Less';
}

.check-additional {
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
  bottom: 12%;
}

.popup-item {
  text-decoration: none;
  width: 5em;
  height: 6.6em;
  border: 1px solid transparent;
}

.popup-pic {
  display: block;
  margin: 0 auto;
  width: 1.8em;
  height: 1.8em;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}

.popup-description {
  padding-top: 1em;
  text-align: center;
  line-height: 1em;
  font-size: 1em;
}

.popup-more {
  appearance: none;
}



/* used this to align image with other li items */
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell {
  width: 80%;
  height: 46%;
}

.bell:hover, .popup-img:hover {
  border-radius: 5px;
  background-color: #e8e9ed;
  box-shadow: 0 0 10px #e8e9ed;
}
